.remove-btn {
    margin-left: 0.5rem;
}

.todo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-content {
    display: flex;
    flex-direction: row;
}

.addItemModalLabel {
    font-weight: bold
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}