// Forms
.form{
    &-group{
        margin: 1.2rem 0;
    }
    &-text{
        display: block;
        margin-top: 0.3rem;
        color: #888;
    }
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea{
        display: block;
        padding: 0.8rem;
        font-size: 1.2rem;
        width: 100%;
        border: 1px solid rgb(165, 141, 141);
        border-radius: 2px;
    }
    
    input[type='checkbox']{
        display: none;
    }
    input[type='checkbox']+label{
        display: block;
        cursor: pointer;
    }
    input[type="checkbox"]+label::before {
        content: "\2718";
        border: 1px solid rgb(165, 141, 141);
        border-radius: 2px;
        display: inline-block;
        width: 1.1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.5em;
        color: transparent;
        transition: 0.2s;
    }
    input[type="checkbox"]:checked+label::before {
        color: $primary-color;
    }
}