// Register
.register-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $white-color;
    border-radius: 20px 100px;
}
.register-form{
    display: grid;
    justify-content: center;
    form{
        padding-top: 0.5rem;
        .form-name-area{
            display: grid;
            grid-gap: 1.2rem;
            margin: 1.2rem 0;
            grid-template-columns: repeat(2,1fr);
            justify-content: space-between;
        }
    }
}