@import 'utils';
@import 'defaults';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: $white-color;
    color: $dark-color;
}

a {
    text-decoration: none;
    color: $primary-color;
    &:hover{
        color: $danger-color;
    }
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 5px $primary-color;
    opacity: 0.9;

    a {
        color: $white-color;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
        }
    }

    ul {
        display: flex;
        a {
            color: $white-color;
            padding: 0.45rem;
            margin: 0 0.25rem;

            &:hover {
                color: $primary-color;
                border-bottom: solid 2px $primary-color;
            }
        }
    }

}

// Landing
.landing {
    position: relative;
    background: url('./img/showcase.jpg')no-repeat center/cover;
    height: 100vh;

    &-inner {
        color: $white-color;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

// Forms
.form{
    &-group{
        margin: 1.2rem 0;
    }
    &-text{
        display: block;
        margin-top: 0.3rem;
        color: #888;
    }
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea{
        display: block;
        padding: 0.8rem;
        font-size: 1.2rem;
        width: 100%;
        border: 1px solid rgb(165, 141, 141);
        border-radius: 2px;
    }
    
    input[type='checkbox']+label{
        display: block;
        
    }
    input[type='checkbox']{
        display: none;
    }
    input[type="checkbox"]+label::before {
        content: "\2718";
        border: 1px solid rgb(165, 141, 141);
        border-radius: 2px;
        display: inline-block;
        width: 1.1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.5em;
        color: transparent;
        transition: 0.2s;
    }
    input[type="checkbox"]:checked+label::before {
        background-color: $light-color;
        color: $primary-color;
    }
}

// Invalid Feedback
.invalid-feedback{
    font-size: 0.9rem;
    color: $danger-color;
    padding-top: 0.2rem;
}

// Register
.register{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    background: $light-color;
    padding: 1rem;
    border-radius: 15px 15px;
    &-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white-color;
        border-radius: 20px 100px;
    }
}

// Login
.login-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $white-color;
    border-radius: 20px 100px;
}
.login-form{
    display: grid;
    justify-content: center;
    form{
        padding-top: 0.5rem;
        .form-submit-area{
            display: grid;
            grid-gap: 14rem;
            grid-template-columns: repeat(2,1fr);
            justify-content: space-between;
        }
    }
}